// Add your own custom styles here
.typewriter {
  font-family: 'Courier New', monospace;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;

  .cursor {
    display: inline-block;
    background-color: black;
    margin-left: -3px;
    @keyframes blink {
      to { visibility: hidden; }
    }
    animation: blink 1s steps(5, start) infinite;
  }
}
/* Geoweaver */

.geoweaver-landing-text {
  background: linear-gradient(90deg, #303B4C 0%, rgba(0, 102, 255, 0.7) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'SF Mono';
  font-style: normal;
}

.getting-started {
  background: rgb(255,27,107);
  background: linear-gradient(230deg, rgba(255,27,107,1) 4%, rgba(255,81,235,1) 89%);
}

.pygeoweaver-learn-more {
  background: rgb(52,157,156);
  background: linear-gradient(90deg, rgba(52,157,156,1) 0%, rgba(255,196,0,1) 100%);
}

.view-on-github {
  color: white;
  background-color: black;

}
