{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}

<section class="overflow-hidden bg-[#140736] section pt-14 flex justify-between max-w-full h-[28rem]">
  <div class="max-sm:w-full max-md:w-full w-5/6 relative">
    {{ partial "image" (dict "Src" .geoweaverBrandLanding "Alt" "geoweaver brand logo" "Loading" "eager" "Class" "large-image max-sm:w-full max-md:w-full w-1/2 mx-auto") }}
    <p class="capitalize pt-5 font-archivo-black text-white text-3xl text-center">Build <span class="text-[#FFB85A]">workflows</span> that <span class="underline decoration-wavy decoration-4 underline-offset-8 decoration-[#FFB85A]">scale</span></p>
    <div>
      <p class="lg:flex max-sm:hidden justify-center text-white text-center align-middle pt-8 p-0">An open-source, in-browser tool for simplifying data processing <br>
        workflows with high-performance server support, featuring code history <br>
          and workflow orchestration.</p>
      <p class="hidden max-md:flex text-white text-center align-middle pt-8 p-0">An open-source, in-browser tool for simplifying data processing workflows with high-performance server support, featuring code history and workflow orchestration.</p>


<div class="pt-10 text-center">
  <div class="flex flex-row justify-center items-center space-x-4">
    <a href="https://github.com/ESIPFed/Geoweaver" class="flex justify-center mb-4">
      <div class="bg-white p-2 rounded cursor-pointer">
        <button class="text-black flex items-center">
          <i class="fa-brands fa-github mr-2"></i>
          Github
        </button>
      </div>
    </a>

    <a href="/guide" class="flex justify-center mb-4">
      <div class="bg-[#009AC4] p-2 rounded cursor-pointer">
        <button class="text-white flex items-center">
          <i class="fa-solid fa-video mr-2"></i>
          Guide
        </button>
      </div>
    </a>

    <a href="https://geobrain.csiss.gmu.edu/Geoweaver" class="flex justify-center mb-4">
      <div class="bg-white p-2 rounded cursor-pointer">
        <button class="text-black flex items-center">
          <i class="fa-solid fa-desktop mr-2"></i>
          Demo
        </button>
      </div>
    </a>
  </div>
</div>


    </div>
  </div>

  <div class="max-sm:hidden max-md:hidden  absolute top-0 right-0 w-[477px] h-[440px] mt-[91px]">
    {{ partial "image" (dict "Src" .landingpageSideImage "Alt" "geoweaver brand logo" "Loading" "eager" "Class" "w-full h-full object-cover overflow-hidde max-sm:hidden max-md:hidden") }}
  </div>

</section>

<section>
  <div class="justify-center flex p-5 rounded">
    <iframe class="rounded-xl max-sm:w-full max-md:w-full max-sm:h-[300px] max-md:h-[300px]" width="61%" height="500px" src="https://www.youtube.com/embed/6G000WADL7o?si=a0hN2gPi6DkCA0NC&autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>

<section>
  <div class="justify-center flex p-5 rounded">
    <iframe class="rounded-xl max-sm:w-full max-md:w-full max-sm:h-[300px] max-md:h-[300px]" width="61%" height="500px" src="https://www.youtube.com/embed/HeJ98daKHb4?si=BswR0IunC1ho7JYr&autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>


<section class="z-10 bg-[#a1e2fc] bg-cover">

  <div class="max-sm:block max-md:block grid max-w-full grid-cols-[2fr,2fr] grid-flow-cols">
      <div style="width: 100%" class='align-middle mt-16'>
        {{ partial "image" (dict "Src" .zeroToProdImage "Alt" "zero to production image" "Loading" "eager" "Class" "large-image absoulte right-0" ) }}
      </div>
      <div class="bg-[#a1e2fc]">
        <h3 class='max-sm:text-center max-md:text-center max-sm:w-full max-md:w-full max-sm:pl-0 max-md:pl-0 mt-16 pl-10 font-archivo-black'>Go From Zero To Production 🏁</h3>
        <div class="max-w-xl max-sm:pl-0 max-md:pl-0 max-sm:text-center max-md:text-center pl-16 mt-6">
          <p class="font-archivo max-sm:text-center max-md:text-center">
            Experience the power of Geoweaver, your all-in-one solution for simplifying complex scientific workflows. Whether you're a seasoned researcher or a novice, our user-friendly, web-based platform allows you to effortlessly manage data processing tasks, saving you time and preserving your workflow history. Unlock the potential of online spatial data facilities, high-performance computation platforms, and open-source libraries with Geoweaver. Get started today and go from zero to production with ease.
          </p>
          <p class='max-sm:text-center max-md:text-center max-sm:pl-0 max-md:pl-0 font-bold pl-10 pt-10 font-archivo-black'>Learn more about deploying with Geoweaver</p>
          <a href="https://esipfed.github.io/Geoweaver/docs/install.html">
            <button class='transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 getting-started text-white p-2 rounded w-36 mt-8 mb-10 max-sm:ml-0 max-md:ml-0   ml-32 max-w-full'>
              Get Started
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class='mt-10'>
    <h3 class='font-archivo font-bold tracking-wider text-center'>Why choose <span class="underline underline-offset-8 decoration-wavy decoration-[#337ac1]"> Geoweaver? <span> </h3>
    <div class='md:pl-48 max-sm:pl-8  mt-20 grid grid-cols-1 md:grid-cols-3 grid-flow-row gap-4'>

      <div class='inline-flex'>
        <div class="max-sm:hidden max-md:hidden" style='width: 45px; height: 45px;'>
          {{ partial "image" (dict "Src" .oneIcon "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}
        </div>
        <div class='pl-10 flex flex-col text-center'>
          <div style="width: 100px" class="ml-16"> {{ partial "image" (dict "Src" .fileImage "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}</div>
          <div class='mt-2 w-56'>Safely Store all your progress along the way.</div>
        </div>
      </div>

      <div class='inline-flex'>
        <div class="max-sm:hidden max-md:hidden" style='width: 45px; height: 45px;'>
          {{ partial "image" (dict "Src" .twoIcon "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}
        </div>
        <div class='flex flex-col text-center max-w-lg'>
          <div style="width: 350px;"> {{ partial "image" (dict "Src" .visualizationImage "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}</div>
          <div class='w-72 pl-10'>Visualise your results using the tools that you already use.</div>
        </div>
      </div>

      <div class='inline-flex'>
        <div class="max-sm:hidden max-md:hidden" style='width: 45px; height: 45px;'>
          {{ partial "image" (dict "Src" .threeIcon "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}
        </div>
        <div class='pl-10 flex flex-col text-center max-w-lg max-sm:pt-10 ' style='width: 220px; height: 220px;'>
          <div class="max-sm:ml-[25px]"> {{ partial "image" (dict "Src" .stayOrganized "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}</div>
          <div class='mt-2 w-56'>Stay organised throughout your research</div>
        </div>
      </div>

      <div class='inline-flex mt-10'>
        <div class="max-sm:hidden max-md:hidden" style='width: 45px; height: 45px;'>
          {{ partial "image" (dict "Src" .fourIcon "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}
        </div>
        <div class='pl-10 flex flex-col text-center max-w-lg max-sm:pt-10 max-sm:ml-[15px]'>
          <div style="width: 170px;" class="ml-5"> {{ partial "image" (dict "Src" .cronImage "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}</div>
          <div class='mt-8 w-56'>Supports CRON executions</div>
        </div>
      </div>

      <div class='inline-flex mt-10'>
        <div class="max-sm:hidden max-md:hidden" style='width: 45px; height: 45px;'>
          {{ partial "image" (dict "Src" .fiveIcon "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}
        </div>
        <div class='pl-10 flex flex-col text-center max-w-lg max-sm:ml-[25px]' style='width: 220px; height: 220px;'>
          <div> {{ partial "image" (dict "Src" .earthConnectionImg "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}</div>
          <div class='mt-2 w-56'>Seamlessly connect to external servers with SSH </div>
        </div>
      </div>

      <div class='inline-flex mt-10'>
        <div class="max-sm:hidden max-md:hidden" style='width: 45px; height: 45px;'>
          {{ partial "image" (dict "Src" .sixIcon "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}

        </div>
        <div class='pl-10 flex flex-col text-center max-w-lg max-sm:ml-[25px]' style='width: 220px; height: 220px;'>
          <div class="mt-4" > {{ partial "image" (dict "Src" .webUIImageNew "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "10px" "Height" "10px") }}</div>
          <div class='mt-6 w-56'>In-Built Web UI with full support for Python</div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class='bg-[#A1E2FC] mt-14'>
  <div class="grid max-w-full grid-cols-1 md:grid-cols-2 grid-flow-cols">
    <div>
      {{ partial "image" (dict "Src" .projectsSectionImage "Alt" "zero to production image" "Loading" "eager" "Class" "w-full max-h-fit" ) }}
    </div>

    <div class="flex flex-col py-5 md:py-0">
      <div class="px-5 md:px-10 pt-4">
        <h1 class='font-archivo-black text-2xl md:text-3xl tracking-wide text-left'>Projects</h1>
        <p class='tracking-wide font-archivo text-left'>that already use <span class='font-bold'>Geoweaver</span></p>
      </div>

      <hr class="my-4"/>

      <div class="px-5 md:px-10">
        <div class="flex hover:underline hover:cursor-pointer">
          <a href="https://github.com/geo-smart/SnowCast" target="_blank" class="flex">
            <p class="font-archivo-black">SWE Wormhole</p>
            <i class="fa-solid fa-arrow-up-right-from-square ml-4 mt-1"></i>
          </a>
        </div>
        <p class="font-archivo">The SWE Workflow leverages Geoweaver, to help manage the complex python & shell scripts which are used to collect training data from various sources like GridMET, SRTM 90m, Modis and AMSR which is used to train the model to predict SWE in the western US.</p>
      </div>

      <div class="px-5 md:mr-10 md:pt-5 text-right mt-10">
        <div class="flex hover:underline hover:cursor-pointer justify-end">
          <a href="https://geobrain.csiss.gmu.edu/cmaq_site/" target="_blank" class="flex">
            <p class="font-archivo-black">Ozone Prediction</p>
            <i class="fa-solid fa-arrow-up-right-from-square ml-4 mt-1"></i>
          </a>
        </div>
        <p class="font-archivo">Utilizing ground observations from the EPA and AirNow network, alongside remote sensing data, to calibrate CMAQ model for ozone prediction. </p>
      </div>
    </div>
  </div>
</section>

<section class='mt-10 pb-10 flex flex-col items-center justify-center' id="downloads-section">
    <div class="text-center">
      <p class='text-4xl font-archivo font-bold tracking-wide'>Free, Opensource &</p>
      <h1 class='text-5xl font-archivo-black font-bold tracking-wide'>Works where you WORK</h1>
      <p class='text-2xl pt-4 pb-4 font-archivo tracking-widest'>Download the <span class='font-bold'>APP</span></p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-6 w-full md:max-w-2xl justify-center items-center">

      <a onClick="trackDownload('exe', 'windows')" href="https://github.com/ESIPFed/Geoweaver/releases/download/latest/GeoweaverInstaller.exe" class="flex flex-col items-center justify-center">
        <i style="font-size: 60px;" class="fa-brands fa-windows"></i>
        <p class="pt-1 font-bold font-archivo">Windows</p>
      </a>

      <a onClick="trackDownload('dmg', 'MacOS')" href="https://github.com/ESIPFed/Geoweaver/releases/download/latest/Geoweaver.dmg" class="flex flex-col items-center justify-center">
        <i style="font-size: 66px;" class="fa-brands fa-apple"></i>
        <p class="pt-1 font-bold font-archivo">MacOS</p>
      </a>

      <a onClick="trackDownload('deb', 'linux')" href="https://github.com/ESIPFed/Geoweaver/releases/download/latest/geoweaver.deb" class="flex flex-col items-center justify-center">
        <i style="font-size: 66px;" class="fa-brands fa-linux"></i>
        <p class="pt-1 font-bold font-archivo">Linux</p>
      </a>

      <a onClick="trackDownload('jar', 'Java')" href="https://github.com/ESIPFed/Geoweaver/releases/download/latest/geoweaver.jar" class="flex flex-col items-center justify-center">
        <i style="font-size: 66px;" class="fa-brands fa-java"></i>
        <p class="pt-1 font-bold font-archivo">JAR</p>
      </a>

    </div>
</section>


<section class="flex flex-col md:flex-row bg-[#00BDFF] bg-opacity-40">

  <div class="absolute w-[250px] h-[250px] right-0 mt-[350px] max-sm:hidden max-md:hidden">
    {{ partial "image" (dict "Src" .catIllu "Alt" "python logo" "Loading" "eager")}}
  </div>

  <div>
    <div class="self-center max-sm:w-full h-[70px] w-[70px] md:h-[500px] md:w-[500px] md:ml-48 max-sm:mt-10">
      {{ partial "image" (dict "Src" .pythonOriginalLogo "Alt" "python logo" "Loading" "eager")}}
    </div>
  </div>

  <div class="flex-grow max-sm:mt-[260px]">
    <div class="text-center">
      <p class="font-archivo text-xl text-center justify-center pt-10">Goodness of Python 🐍, for every <a class="font-bold">WORKFLOW.</a> </p>
      <h1 class="pt-1 font-archivo-black tracking-wide">Pygeoweaver</h1>

      <div class="flex items-center justify-center pt-5">
        <p class="font-bold font-archivo text-center max-w-[500px]">Geoweaver can now run directly inside your Jupyter notebooks and Python scripts, empowering you to effortlessly navigate complex scientific workflows with ease.</p>
      </div>

      <div class="flex flex-col items-center justify-center mt-2 ml-[-270px]">
        <p class="font-archivo italic font-bold">Install</p>
        <div class="w-[60px] mt-[-14px]">
          {{ partial "image" (dict "Src" .installUnderline "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "2px" "Height" "2px") }}
        </div>
      </div>

      <div class="flex items-center justify-center">
        <div class="flex bg-white rounded pt-2 pb-2 pl-4 pr-4 max-w-[450px] border-2 border-[#FEC600]">
          <div>
            <p class="font-mono"><a class="font-bold">$ </a>pip install pygeoweaver</p>
          </div>
          {{ $image := resources.Get "images/landing-page/clipboard-copy-done-tick.png" }}
          <div id="copy-install-text" class="h-[20px] w-[20px] cursor-pointer ml-5 pt-1" data-image-url="{{ $image.Permalink }}">
            {{ partial "image" (dict "Src" .clipboardCopyIcon "Alt" "python logo" "Loading" "eager")}}
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center mt-5 ml-[-270px]">
        <p class="font-archivo italic font-bold">Get Started</p>
        <div class="w-[60px] mt-[-14px]">
          {{ partial "image" (dict "Src" .installUnderline "Alt" "Demo Icon" "Loading" "eager" "Class" "inline-block mr-2" "Width" "2px" "Height" "2px") }}
        </div>
      </div>

      <div class="flex items-center justify-center">
        <div class="flex bg-white rounded pt-2 pb-2 pl-4 pr-4 w-[320px] border-2 border-[#FEC600] justify-between"> <!-- Added justify-between class -->
          <div>
            <p class="font-mono"><a class="font-bold">$ </a>gw start</p>
          </div>
          {{ $image := resources.Get "images/landing-page/clipboard-copy-done-tick.png" }}
          <div id="copy-get-started-text" class="h-[20px] w-[20px] cursor-pointer ml-5 pt-1" data-image-url="{{ $image.Permalink }}">
            {{ partial "image" (dict "Src" .clipboardCopyIcon "Alt" "python logo" "Loading" "eager")}}
          </div>
        </div>
      </div>

      <a href="https://pygeoweaver.readthedocs.io/en/latest/">
        <button class='transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 pygeoweaver-learn-more text-white p-2 rounded w-36 mt-8 mb-10 max-w-full'>
          Learn More
        </button>
      </a>
    </div>
  </div>

</section>



<section>
  <h1 class="font-mono text-center pt-10 tracking-wide">Supported By</h1>
  <div class="flex items-center justify-center">
    <p class="font-bold font-heebo max-w-[420px] text-center pt-5">We thank our sponsors for supporting the development and maintenance of Geoweaver.</p>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 justify-center items-center mt-5 pb-10 px-5 md:mx-auto md:max-w-2xl">
    <a target="_blank" href="https://www.earthdata.nasa.gov/esds/competitive-programs/access/geoweaver" class="flex justify-center items-center">
      <div style='width: 150px; height: 150px;' class="pt-4">
        {{ partial "image" (dict "Src" .nasaLogo "Alt" "NASA logo" "Loading" "eager" "Class" "inline-block" "Width" "150px" "Height" "150px") }}
      </div>
    </a>

    <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2117834&HistoricalAwards=false" class="flex justify-center items-center">
      <div style='width: 150px; height: 150px;'>
        {{ partial "image" (dict "Src" .nsfLogo "Alt" "NSF logo" "Loading" "eager" "Class" "inline-block" "Width" "150px" "Height" "150px") }}
      </div>
    </a>

    <a target="_blank" href="https://www.noaa.gov/ai/resources" class="flex justify-center items-center">
      <div style='width: 100px; height: 100px;' >
        {{ partial "image" (dict "Src" .noaaLogo "Alt" "NOAA logo" "Loading" "eager" "Class" "inline-block" "Width" "100px" "Height" "100px") }}
      </div>
    </a>

    <a target="_blank" href="https://www.esipfed.org/geoweaver/" class="flex justify-center items-center">
      <div style='width: 150px; height: 150px;' class="pt-10">
        {{ partial "image" (dict "Src" .esipLogo "Alt" "ESIP logo" "Loading" "eager" "Class" "inline-block" "Width" "150px" "Height" "150px") }}
      </div>
    </a>
  </div>
</section>



{{ end }}
<!-- /Banner -->
{{ end }}
