{{ define "main" }}

<section>
  <div class="container">
    <h1 class="font-archivo text-center pt-10 tracking-wide">Guide Page</h1>

    <div class="pt-5">
      <div class="pb-10">
        <h4>Installation & Setup</h4>
        <hr/>
        <div class="mt-5 flex justify-center">
          <iframe src="https://drive.google.com/file/d/1AXn19AGtOp5Yd2-AO_rXQkphtipBqhbx/preview" width="700" height="400" allow="autoplay" allowfullscreen></iframe>
        </div>
      </div>


      <div class="pb-10">
        <h4>Environment Setup</h4>
        <hr/>
        <div class="mt-5 flex justify-center">
          <iframe src="https://drive.google.com/file/d/1NdJpjRHYFLi1WargZawIezvTwrea_Rt5/preview" width="700" height="400" allow="autoplay" allowfullscreen></iframe>
        </div>
      </div>


      <div class="pb-10">
        <h4>Hosts</h4>
        <hr/>
        <div class="mt-5 flex justify-center">
          <iframe src="https://drive.google.com/file/d/1m_1Oo2z80bS3hMEkD_2hKEsoRQW7idIG/preview" width="700" height="400" allow="autoplay" allowfullscreen></iframe>
        </div>
      </div>



      <div class="pb-10">
        <h4>Workflow Demo</h4>
        <hr/>
        <div class="mt-5 flex justify-center">
          <iframe src="https://drive.google.com/file/d/1RY_BgLTLE3o9AGYwEL9Ebc_0pc2KThaY/preview" width="700" height="400" allow="autoplay" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</section>

{{ end }}
